---
app: Madama
csharp:
  # Infrastructure Db entities
  - outputDirectory: ../Sources
    dbContextPath: Klee.Madama.Infra.Db
    nonPersistantModelPath: Metier
    persistantModelPath: Klee.Madama.Infra.Db/Models
    apiGeneration: Server
    apiFilePath: ""
    useEFMigrations: true
    useLowerCaseSqlNames: true
    noColumnOnAlias: true
    useLatestCSharp: true
    tags:
      - Data
#   # Spa DTO
#   - outputDirectory: ../Sources
#     kinetix: None
#     noPersistance: true
#     nonPersistantModelPath: Klee.Madama.Api/Model
#     apiGeneration: Server
#     apiRootPath: Klee.Madama.Api
#     apiFilePath: ""
#     useLatestCSharp: true
#     tags:
#       - Api
#       - Dto
# # Spa DTO
# javascript:
#   - modelOutputDirectory: ../Sources/Klee.Madama.Spa/app/model
#     resourceOutputDirectory: ../Sources/Klee.Madama.Spa/app/locale/generated
#     apiClientOutputDirectory: ../Sources/Klee.Madama.Spa/app/services
#     apiClientFilePath: ""
#     fetchImportPath: ../server
#     tags:
#       - Api
#       - Dto
